<nav class="navbar navbar-expand-lg navbar-dark"
    style="opacity: 1; background: linear-gradient(107.56deg,rgb(112, 146, 160) 0%, rgba(16,23,33,255) 100%);">
    <div class="navbar-full">
        <a referrerpolicy="no-referrer" target="_blank" href="https://sairam.edu.in/"><img src="assets/images/logo.png"
                alt="logo"></a>
        <div style="height: 50px; background-color: white; width: 2px;"></div>
        <div class="text" style="font-family: 'Courier New', Courier, monospace; color: white;">DEPARTMENT OF CIVIL
            ENGINEERING</div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container animated animated-done bootdey" data-animate="fadeIn" data-animate-delay="0.05"
    style="animation-delay: 0.05s;">
    <hr class="hr-lg mt-0 mb-2 w-10 mx-auto hr-primary">
    <h2 class="text-slab text-center text-uppercase mt-0 mb-5"
        style="color: rgb(255, 255, 255); font-family:'Courier New', Courier, monospace; border-bottom: 1px solid white;">
        Civilithon 3.0<span class="font-weight-bold" style="color: rgb(255, 255, 255);"> Events</span>
    </h2>
    <div class="timeline timeline-left mx-lg-10">
        <div class="timeline-breaker">Technical Events</div>

        <div class="timeline-item mt-3 row text-center p-3">

            <div class="col font-weight-bold text-md-right"><a class="event"
                    routerLink="/events/paperpresentation">&#9733;Paper Presentation</a></div>
            <div class="col font-weight-bold text-md-right"><a class="event"
                    routerLink="/events/exquizme">&#9733;Ex-Quiz-Me</a></div>
            <div class="col font-weight-bold text-md-right"><a class="event"
                    routerLink="/events/battleofmind">&#9733;Battle Of
                    Minds</a></div>
            <div class="col font-weight-bold text-md-right"><a class="event" routerLink="/events/sharktank">&#9733;Shark
                    Tank</a></div>
        </div>

        <div class="timeline-breaker timeline-breaker-middle">Non-Technical Events</div>
        <div class="timeline-item mt-3 row text-center p-3">
            <div class="col font-weight-bold text-md-right">
                <a class="event" routerLink="/events/watchparty">&#9733;Watch
                    Party</a>
            </div>
            <div class="col font-weight-bold text-md-right"><a class="event" routerLink="/events/jukebox">&#9733;Juke
                    Box</a>
            </div>
            <div class="col font-weight-bold text-md-right"><a class="event" routerLink="/events/bidtime">&#9733;Bidding
                    Time</a></div>
            <div class="col font-weight-bold text-md-right"><a class="event" routerLink="/events/1minRJ">&#9733;One
                    Minute
                    RJ</a></div>
            <div class="col font-weight-bold text-md-right"><a class="event"
                    routerLink="/events/shutterup">&#9733;Shutter
                    Up</a></div>
        </div>

        <div class="timeline-breaker timeline-breaker-middle">Workshop</div>
        <div class="timeline-item mt-3 row text-center p-3">
            <div class="col font-weight-bold text-md-right"
                style="background: linear-gradient(107.56deg, rgba(1,10,17,255) 0%, rgba(9,23,32,255) 100%);">
                <a class="event" routerLink="/events/workshop" style="color: aliceblue;">&#9733;3D-Printing
                    WorkShop</a>
            </div>
        </div>
    </div>
</div>

<div class="footer_div" style="width: 150px;">
    <div class="footer_social">
        <a referrerpolicy="no-referrer" target="_blank" href="https://youtube.com/channel/UC03qtpLwq3Jh-l6VulStjlw">
            <div class="footer_social_icon"><img style="max-width:40px; max-height:40px;"
                    src="assets/images/youtube.svg" alt="Youtube social">
            </div>
        </a>
        <a referrerpolicy="no-referrer" target="_blank" href="https://instagram.com/sairam_civil?igshid=YmMyMTA2M2Y=">
            <div class="footer_social_icon"><img src="assets/images/Instagram.d1f9bde9.svg" alt="instagram social">
            </div>
        </a>
        <a referrerpolicy="no-referrer" target="_blank" href="https://www.linkedin.com/in/sairamengg-civil">
            <div class="footer_social_icon"><img src="assets/images/LinkedIn.89a24238.svg" alt="linkedin social">
            </div>
        </a>
    </div>
</div>