<nav class="navbar navbar-expand-lg navbar-dark"
    style="opacity: 1; background: linear-gradient(107.56deg,rgb(112, 146, 160) 0%, rgba(16,23,33,255) 100%);">
    <div class="navbar-full">
        <a referrerpolicy="no-referrer" target="_blank" href="https://sairam.edu.in/"><img src="assets/images/logo.png"
                alt="logo"></a>
        <div style="height: 50px; background-color: white; width: 2px;"></div>
        <div class="text" style="font-family: 'Courier New', Courier, monospace; color: white;">DEPARTMENT OF CIVIL
            ENGINEERING</div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>

<div class="body">
    <div style="overflow: hidden;">
        <div class="back-arrow">
            <a href="/events">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 5L4 12L11 19" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                    </path>
                    <path d="M4 12H20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    </path>
                </svg>
                <span>Back</span>
            </a>
            <a class="btn btn-secondary" referrerpolicy="no-referrer" target="_blank"
                href="https://forms.gle/MYy3wmByDkjYyduf9">Register</a>
        </div>
        <div id="events-details-component" data-aos="fade-up" data-aos-duration="300" class="aos-init aos-animate"
            style="display: flex; flex-direction: row;">
            <div id="event-details">
                <div class="event-top">
                    <div id="event-title-info">
                        <h2 id="event-title">Shark Tank</h2>
                        <div>Hola!!</div>
                        <div>Summer is heating u up? , so Let’s (shark)dive into these lesson plans, worksheets, and
                            projects!</div>
                        <div>Okay, okay – so you’ve seen the hit show, Shark Tank, and you want to know how you can
                            incorporate some of this coolness into our classroom and win the price money💰 ?</div>
                        <h4>Round 1 Business Plan</h4>
                        <div>Submit a business plan for a startup to challenges in smart city development. Business plan
                            should contain expected market size, product roadmap, monetization plan, metrics to track
                            performance, short-term & long-term goals and resources required and revenue (if any).
                        </div>
                        <h4>Format: 3 slides PPT submitted in PDF format
                        </h4>

                        <h4>Round 2 Elevator Pitch</h4>
                        <div>Shark Tank Pitch for your business plan. Prepare a 5-minute presentation for why an
                            investor
                            should invest in your company followed by a 2-minute Q&A. Your pitch can talk about (not
                            exhaustive) your Idea, vision, team, market potential and why you are best suited to solve
                            this
                            problem.</div>
                        <h4>Format: 3 minutes elevator pitch in person</h4>

                    </div>
                </div>
                <div class="event-bottom">
                    <div id="event-date">
                        Last Date For Registration:
                        <b>08/05/2022</b>
                    </div>
                    <div style="margin-right: 4px; font-size: 14px;">For Queries:</div>
                    <div id="event-queries-list">
                        <div id="event-queries"><b>Ms. D. Sushmitha </b>
                            <a href="tel:+91 7558166246">(+91 7558166246)</a>
                        </div>
                        <div id="event-queries"><b>Ms. S. Bhavani</b>
                            <a href="tel:+91 8825563843">(+91 8825563843)</a>
                        </div>
                        <div id="event-queries"><b>Mr. S. Ashwin Kumar</b>
                            <a href="tel:+91 8825785457">(+91 8825785457)</a>
                        </div>
                    </div>
                </div>
            </div>
            <img id="event-image" src="assets/images/shark.jpeg" alt="shark">
        </div>
    </div>


</div>


<div class="footer_div">
    <div class="footer_social">
        <a referrerpolicy="no-referrer" target="_blank" href="https://youtube.com/channel/UC03qtpLwq3Jh-l6VulStjlw">
            <div class="footer_social_icon"><img style="max-width:40px; max-height:40px;"
                    src="assets/images/youtube.svg" alt="Youtube social">
            </div>
        </a>
        <a referrerpolicy="no-referrer" target="_blank" href="https://instagram.com/sairam_civil?igshid=YmMyMTA2M2Y=">
            <div class="footer_social_icon"><img src="assets/images/Instagram.d1f9bde9.svg" alt="instagram social">
            </div>
        </a>
        <a referrerpolicy="no-referrer" target="_blank" href="https://www.linkedin.com/in/sairamengg-civil">
            <div class="footer_social_icon"><img src="assets/images/LinkedIn.89a24238.svg" alt="linkedin social">
            </div>
        </a>
    </div>
</div>