.navbar {
    position: relative;
    padding: 10px 20px;
    justify-content: space-between;
    z-index: 10;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar {
    position: relative;
    padding: 10px 20px;
    justify-content: space-between;
    z-index: 10;
}

.navbar-collapse {
    flex-grow: 0;
}

.nav-item.active .nav-link {
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.nav-item .nav-link  :hover {
    cursor: pointer;
}
.navbar-full{
  display: flex;
  flex-direction: row;
}
.navbar-full div{
  margin-left: 8px;
}

li a:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}


@media only screen and (max-width: 600px){
  .navbar {
    padding: 10px 20px;
    justify-content: space-between;
    z-index: 10;
  }

  .navbar-full{
    display: none;
  }
}



.contact {
    width: 100%;
    text-align: center;
    color: #fff;
    min-height: 75vh;
    position: relative;
    text-shadow: 2px 2px 8px #000;
}

.blur {
    width: 100%;
    height: 10px;
    filter: blur(10px);
    top: 5px;
    position: absolute;
}

.contact .whole {
    margin: 1em;
    position: relative;
    align-items: center;
    justify-content: center;
}

@media (max-width: 700px), (max-height: 700px){
    .contact h1 {
        font-size: 20px;
    }
}


.contact h1 {
    color: #fff;
    font-size: 2.5em;
    padding: 0.5em;
    pointer-events: none;
}

.details {
    text-align: center;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    /* padding-bottom: 2em; */
}

.details > span{
    padding: 1rem;
    min-width: 500px;
}

@media (max-width: 640px){
    .details {
        flex-direction: column;
    }

    .details > span{
        padding: 0.5rem;
        min-width: unset;
    }
}

.whole a {
    text-decoration: none;
    color: #fff;
    margin: 20px 15px;
    cursor: pointer;
    text-shadow: none;
    transition: 0.5s;
}

#sailogo {
    margin: 1rem
}

.whole a:hover {
    font-size: 5.5rem;
    background-color: #fff;
}

.whole h2 {
    font-size: 2rem;
    font-weight: 100;
    pointer-events: none;
}

.whole h3 {
    font-size: 1rem;
    font-weight: 200;
    pointer-events: none;
}

.whole h4 {
    text-shadow: none;
}
