<nav
  class="navbar navbar-expand-lg navbar-dark"
  style="
    opacity: 1;
    background: linear-gradient(
      107.56deg,
      rgb(112, 146, 160) 0%,
      rgba(16, 23, 33, 255) 100%
    );
  "
>
  <div class="navbar-full">
    <a
      referrerpolicy="no-referrer"
      target="_blank"
      href="https://sairam.edu.in/"
      ><img src="assets/images/logo.png" alt="logo"
    /></a>
    <div style="height: 50px; background-color: white; width: 2px"></div>
    <div
      class="text"
      style="font-family: 'Courier New', Courier, monospace; color: white"
    >
      DEPARTMENT OF CIVIL ENGINEERING
    </div>
  </div>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/contact">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>

<section id="contact" class="contact">
  <div class="blur"></div>
  <div class="whole">
    <h1>Contacts</h1>
    <h2>
      <span style="border-bottom: 1px solid white">
        Feel Free To Contact Us</span
      >
    </h2>
    <a href="https://civil.sairam.edu.in/" target="_blank">
        <img id="sailogo" src="assets/images/Sailogo.png" />
    </a>
    <div class="details">
      <span>
        <h2 style="border-bottom: 1px solid white">Convener &amp; HOD</h2>
        <h3 style="font-size: 20px">Dr. S. Bhagavathi Perumal</h3>
        <h2 style="border-bottom: 1px solid white">Staff Coordinators</h2>
        <h3 style="font-size: 20px">Dr. N. Suganya</h3>
        <h3 style="font-size: 20px">Ms. A. Sujaatha</h3>
        <h3 style="font-size: 20px">Ms. R. Pamila</h3>
      </span>
      <span>
        <h2 style="border-bottom: 1px solid white">Student Coordinators</h2>
        <h3 style="font-size: 20px">Mr. E. TamilSelvan</h3>
        <h4>+91 7448598673</h4>
        <h3 style="font-size: 20px">Ms. V M. Nandhitha</h3>
        <h4>+91 9884326179</h4>
        <h6>For Further Queries</h6>
        <h3 style="font-size: 20px">Mr. S. Harihara Krishnan</h3>
        <h4>+91 7448493423</h4>
      </span>
      <span>
        <h3>
          <span style="font-size: 30px; border-bottom: 1px solid white">
            Mail Id:
          </span>
        </h3>
        <h4>sairamcivilithon@gmail.com</h4>
      </span>
      <span>
        <h3>
          <span style="font-size: 30px; border-bottom: 1px solid white">
            Address:
          </span>
        </h3>
        <h4>Sai Leo Nagar,West Tambaram, Chennai, Tamil Nadu 600044</h4>
      </span>
    </div>
  </div>

  <div class="footer_div">
    <div class="footer_social">
      <a
        referrerpolicy="no-referrer"
        target="_blank"
        href="https://youtube.com/channel/UC03qtpLwq3Jh-l6VulStjlw"
      >
        <div class="footer_social_icon">
          <img
            style="max-width: 40px; max-height: 40px"
            src="assets/images/youtube.svg"
            alt="Youtube social"
          />
        </div>
      </a>
      <a
        referrerpolicy="no-referrer"
        target="_blank"
        href="https://instagram.com/sairam_civil?igshid=YmMyMTA2M2Y="
      >
        <div class="footer_social_icon">
          <img
            src="assets/images/Instagram.d1f9bde9.svg"
            alt="instagram social"
          />
        </div>
      </a>
      <a
        referrerpolicy="no-referrer"
        target="_blank"
        href="https://www.linkedin.com/in/sairamengg-civil"
      >
        <div class="footer_social_icon">
          <img
            src="assets/images/LinkedIn.89a24238.svg"
            alt="linkedin social"
          />
        </div>
      </a>
    </div>
  </div>
</section>
