<!DOCTYPE html>
<html lang="en">

<nav class="navbar navbar-expand-lg navbar-dark"
    style="opacity: 1; background: linear-gradient(107.56deg,rgb(112, 146, 160) 0%, rgba(16,23,33,255) 100%);">
    <div class="navbar-full">
        <a referrerpolicy="no-referrer" target="_blank" href="https://sairam.edu.in/"><img src="assets/images/logo.png"
                alt="logo"></a>
        <div style="height: 50px; background-color: white; width: 2px;"></div>
        <div class="text" style="font-family: 'Courier New', Courier, monospace; color: white;">DEPARTMENT OF CIVIL
            ENGINEERING</div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>



<body style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <div class="cad">
        <span></span>
        <span></span>
        <div class="content">
            <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                Department of Civil Engineering</p>
            <p style="font-size: 25px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                Proudly Presents
            </p>
            <h1 style=" font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                Civilithon 3.0</h1>
            <p style=" font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                Civilithon 3.0 is a third edition of National Level Technical Fest conducted by Department of Civil
                Engineering of Sri Sairam Engineering College which aims to encourage technical extravaganza and gives
                space for students to flaunt their skills in various domains and exhilarating their creations and to
                identify their hidden passions and talents and keep you entertained!
            </p>
            <div
                style="display: flex; flex-direction: column; justify-content: center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:30px ;">
                <b>13/05/2022</b>
                <b>Online Event</b>
            </div>
            <video class="video" controls>
                <source src="assets/videos/sympo.mp4" type="video/mp4">
                <source src="assets/videos/sympo.mp4" type="video/ogg" />
            </video>

        </div>
    </div>

    <div class="footer_div">
        <div class="footer_social">
            <a referrerpolicy="no-referrer" target="_blank" href="https://youtube.com/channel/UC03qtpLwq3Jh-l6VulStjlw">
                <div class="footer_social_icon"><img style="max-width:40px; max-height:40px;"
                        src="assets/images/youtube.svg" alt="Youtube social">
                </div>
            </a>
            <a referrerpolicy="no-referrer" target="_blank"
                href="https://instagram.com/sairam_civil?igshid=YmMyMTA2M2Y=">
                <div class="footer_social_icon"><img src="assets/images/Instagram.d1f9bde9.svg" alt="instagram social">
                </div>
            </a>
            <a referrerpolicy="no-referrer" target="_blank" href="https://www.linkedin.com/in/sairamengg-civil">
                <div class="footer_social_icon"><img src="assets/images/LinkedIn.89a24238.svg" alt="linkedin social">
                </div>
            </a>
        </div>
    </div>
</body>

</html>