<nav class="navbar navbar-expand-lg navbar-dark"
    style="opacity: 1; background: linear-gradient(107.56deg,rgb(112, 146, 160) 0%, rgba(16,23,33,255) 100%);">
    <div class="navbar-full">
        <a referrerpolicy="no-referrer" target="_blank" href="https://sairam.edu.in/"><img src="assets/images/logo.png"
                alt="logo"></a>
        <div style="height: 50px; background-color: white; width: 2px;"></div>
        <div class="text" style="font-family: 'Courier New', Courier, monospace; color: white;">DEPARTMENT OF CIVIL
            ENGINEERING</div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>

<div class="body">
    <div style="overflow: hidden;">
        <div class="back-arrow">
            <a href="/events">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 5L4 12L11 19" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                    </path>
                    <path d="M4 12H20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    </path>
                </svg>
                <span>Back</span>
            </a>
            <a class="btn btn-secondary" referrerpolicy="no-referrer" target="_blank"
                href="https://forms.gle/FSCyC6UKkJaEHQ4M6">Register</a>
        </div>
        <div id="events-details-component" data-aos="fade-up" data-aos-duration="300" class="aos-init aos-animate"
            style="display: flex; flex-direction: row; ">
            <div id="event-details" style="height: 400px; overflow-y: scroll;">
                <div class="event-top">
                    <div id="event-title-info">
                        <h2 id="event-title">Watch Party</h2>
                        <div>
                            Holaaaaa! to all series-anime freaks out there. Are you ready to face our challenges?? Then,
                            this event is especially for you guys!!!!!
                            This is a fun filled event which brings back nostalgic moments of our favourite series which
                            entertained us in our lockdown.
                        </div>
                        <div>
                            The objective of the event is to walk you back down the memory lane, to revisit favorite
                            characters and the moments which made us smile and cry!

                        </div>
                        <h4>Round 1: POWER IS POWER</h4>
                        <ul>
                            <li>This round will be conducted on Quizziz platform
                            </li>
                            <li>One player from each team need to participate.
                            </li>
                            <li>Questions will be from both series and anime
                            </li>
                            <li>Winners will be announced and can go to next round
                            </li>
                        </ul>

                        <h4>Round 2: THIS IS WAR</h4>
                        <ul>
                            <li>This round is one v one
                            </li>
                            <li>The selected teams from round 1 will be made to compete against among teams
                            </li>
                            <li>This will be a knock-out round
                            </li>
                            <li>The winners will move to next round
                            </li>
                        </ul>
                        <h4>Round 3: DATTEBAYO</h4>
                        <ul>
                            <li>The winners from round 2 will compete in this final round</li>
                            <li>Further instructions will be notified in telegram group</li>
                        </ul>
                    </div>
                </div>
                <div class="event-bottom">
                    <div id="event-date">
                        Last Date For Registration:
                        <b>05/05/2022</b>
                    </div>
                    <div style="margin-right: 4px; font-size: 14px;">For Queries:</div>
                    <div id="event-queries-list">
                        <div id="event-queries"><b>Ms. Y. Arokiya Telena </b>
                            <a href="tel:+91 7448928114">(+91 7448928114)</a>
                        </div>
                        <div id="event-queries"><b>Mr. K. Rudrash </b>
                            <a href="tel:+91 7339572295">(+91 7339572295)</a>
                        </div>
                        <div id="event-queries"><b>Mr. M. Arun Balaji</b>
                            <a href="tel:+91 8825785457">(+91 8825785457)</a>
                        </div>
                    </div>
                </div>
            </div>
            <img style="height: 400px;" id="event-image" src="assets/images/watch.jpeg" alt="watch">
        </div>
    </div>


</div>


<div class="footer_div">
    <div class="footer_social">
        <a referrerpolicy="no-referrer" target="_blank" href="https://youtube.com/channel/UC03qtpLwq3Jh-l6VulStjlw">
            <div class="footer_social_icon"><img style="max-width:40px; max-height:40px;"
                    src="assets/images/youtube.svg" alt="Youtube social">
            </div>
        </a>
        <a referrerpolicy="no-referrer" target="_blank" href="https://instagram.com/sairam_civil?igshid=YmMyMTA2M2Y=">
            <div class="footer_social_icon"><img src="assets/images/Instagram.d1f9bde9.svg" alt="instagram social">
            </div>
        </a>
        <a referrerpolicy="no-referrer" target="_blank" href="https://www.linkedin.com/in/sairamengg-civil">
            <div class="footer_social_icon"><img src="assets/images/LinkedIn.89a24238.svg" alt="linkedin social">
            </div>
        </a>
    </div>
</div>