<nav class="navbar navbar-expand-lg navbar-dark"
    style="opacity: 1; background: linear-gradient(107.56deg,rgb(112, 146, 160) 0%, rgba(16,23,33,255) 100%);">
    <div class="navbar-full">
        <a referrerpolicy="no-referrer" target="_blank" href="https://sairam.edu.in/"><img src="assets/images/logo.png"
                alt="logo"></a>
        <div style="height: 50px; background-color: white; width: 2px;"></div>
        <div class="text" style="font-family: 'Courier New', Courier, monospace; color: white;">DEPARTMENT OF CIVIL
            ENGINEERING</div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>

<div class="body">
    <div style="overflow: hidden;">
        <div class="back-arrow">
            <a href="/events">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 5L4 12L11 19" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                    </path>
                    <path d="M4 12H20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    </path>
                </svg>
                <span>Back</span>
            </a>
            <a class="btn btn-secondary" referrerpolicy="no-referrer" target="_blank"
                href="https://youtube.com/channel/UC03qtpLwq3Jh-l6VulStjlw">Register</a>
        </div>
        <div id="events-details-component" data-aos="fade-up" data-aos-duration="300" class="aos-init aos-animate"
            style="display: flex; flex-direction: row;">
            <div id="event-details">
                <div class="event-top">
                    <div id="event-title-info">
                        <h2 id="event-title">Juke Box</h2>
                        <p id="event-description">um dolor, m ipsum dolor sit amet consectetur adipisicing elit.
                            Dolor architecto, doloremque veritatis minima praesentium ipsa aspernatur ea temporibus nam
                            autem error ipsam quo repellat asperiores odit itaque rerum quasi quia. Lorem ipsum dolor
                            sit amet consectetur adipisicing elit. Sunt incidunt error repellat, facere porro
                            perspiciatis magni nam aliquid tempora quis, exercitationem nihil distinctio laudantium,
                            enim maxime quia laborum ipsam dolorum.</p>
                    </div>
                </div>
                <div class="event-bottom">
                    <div id="event-date">
                        Last Date For Registration:
                        <b>01/01/0001</b>
                    </div>
                    <div style="margin-right: 4px; font-size: 14px;">For Queries:</div>
                    <div id="event-queries-list">
                        <div id="event-queries"><b>XYZ</b>
                            <a href="tel:+91">(+91 00000000)</a>
                        </div>
                        <div id="event-queries"><b>XYZZ</b>
                            <a href="tel:+91 ">(+91 741258963)</a>
                        </div>
                    </div>
                </div>
            </div>
            <img id="event-image" src="assets/images/block.jpg" alt="">
        </div>
    </div>


</div>


<div class="footer_div">
    <div class="footer_social">
        <a referrerpolicy="no-referrer" target="_blank" href="https://youtube.com/channel/UC03qtpLwq3Jh-l6VulStjlw">
            <div class="footer_social_icon"><img style="max-width:40px; max-height:40px;"
                    src="assets/images/youtube.svg" alt="Youtube social">
            </div>
        </a>
        <a referrerpolicy="no-referrer" target="_blank" href="https://instagram.com/sairam_civil?igshid=YmMyMTA2M2Y=">
            <div class="footer_social_icon"><img src="assets/images/Instagram.d1f9bde9.svg" alt="instagram social">
            </div>
        </a>
        <a referrerpolicy="no-referrer" target="_blank" href="https://www.linkedin.com/in/sairamengg-civil">
            <div class="footer_social_icon"><img src="assets/images/LinkedIn.89a24238.svg" alt="linkedin social">
            </div>
        </a>
    </div>
</div>