<nav class="navbar navbar-expand-lg navbar-dark"
    style="opacity: 1; background: linear-gradient(107.56deg, rgb(112, 146, 160) 0%, rgba(16,23,33,255) 100%);">
    <div class="navbar-full">
        <a referrerpolicy="no-referrer" target="_blank" href="https://sairam.edu.in/"><img src="assets/images/logo.png"
                alt="logo"></a>
        <div style="height: 50px; background-color: white; width: 2px;"></div>
        <div class="text" style="font-family: 'Courier New', Courier, monospace; color: white;">DEPARTMENT OF CIVIL
            ENGINEERING</div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>

<div class="body">
    <div style="overflow: hidden;">
        <div class="back-arrow">
            <a href="/events">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 5L4 12L11 19" stroke="white" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round">
                    </path>
                    <path d="M4 12H20" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    </path>
                </svg>
                <span>Back</span>
            </a>
            <a class="btn btn-secondary" referrerpolicy="no-referrer" target="_blank"
                href="https://youtube.com/channel/UC03qtpLwq3Jh-l6VulStjlw">Register</a>
        </div>
        <div id="events-details-component" data-aos="fade-up" data-aos-duration="300" class="aos-init aos-animate"
            style="display: flex; flex-direction: row;">
            <div id="event-details" style="height: 400px; overflow-y: scroll;">
                <div class="event-top">
                    <div id="event-title-info">
                        <h2 id="event-title">Bidding Time</h2>
                        <div>
                            Howzzzaaaattttttttttt!!!!!!!!...Here we go for the feast of cricket. Are you ready to build
                            the
                            champion team, then this your arena! Come join us, build the strongest team with your
                            strategy
                            and win cash price. The purpose of this event is to build proper strategy to spend money
                            wisely
                            and put skillful person in right place.

                        </div>
                        <h4>Round 1: Pace Overloaded</h4>
                        <ul>
                            <li>A team should consists of 3 persons.</li>
                            <li>Round 1 will be conducted in online Platform (quizziz).</li>
                            <li>Only one participant in each group has to participate in round 1.</li>
                            <li>More than one response from a single group will be disqualified.</li>
                            <li>It will have questions based/rapid fire round on Cricket</li>
                        </ul>

                        <h4>Round 2: Perfect Line-up</h4>
                        <ul>
                            <li>This round will be held in DREAM 11.</li>
                            <li>One entry per team.</li>
                            <li>More than one entry from a team will be disqualified.</li>
                            <li>Each team should build their DREAM TEAM based on the match happening on the day of
                                event.
                            </li>
                            <li>Based on the points in DREAM 11, the teams will be selected to final round.</li>
                        </ul>
                        <h4>Round 3: Dollar Bid</h4>
                        <ul>
                            <li>Live auction will be conducted.
                            </li>
                            <li>Players should pick a team within a given amount.
                            </li>
                            <li>Strongest teams will be rewarded.
                            </li>
                        </ul>
                        <div>“JUDGE’s RESULT WILL BE FINAL!”
                        </div>
                    </div>
                </div>
                <div class="event-bottom">
                    <div id="event-date">
                        Last Date For Registration:
                        <b>01/05/2022</b>
                    </div>
                    <div style="margin-right: 4px; font-size: 14px;">For Queries:</div>
                    <div id="event-queries-list">
                        <div id="event-queries"><b>Mr. M K. Aswin</b>
                            <a href="tel:+91 6379252716">(+91 6379252716)</a>
                        </div>
                        <div id="event-queries"><b>Mr. M. Monesh</b>
                            <a href="tel:+91 8190920742">(+91 8190920742)</a>
                        </div>
                        <div id="event-queries"><b>Mr. M. Pavithran</b>
                        </div>
                        <div id="event-queries"><b>Mr. A. Sai Ashwanth</b>
                        </div>
                    </div>
                </div>
            </div>
            <img style="height: 400px;" id="event-image" src="assets/images/bidding.jpeg" alt="bidding">
        </div>
    </div>


</div>


<div class="footer_div">
    <div class="footer_social">
        <a referrerpolicy="no-referrer" target="_blank" href="https://youtube.com/channel/UC03qtpLwq3Jh-l6VulStjlw">
            <div class="footer_social_icon"><img style="max-width:40px; max-height:40px;"
                    src="assets/images/youtube.svg" alt="Youtube social">
            </div>
        </a>
        <a referrerpolicy="no-referrer" target="_blank" href="https://instagram.com/sairam_civil?igshid=YmMyMTA2M2Y=">
            <div class="footer_social_icon"><img src="assets/images/Instagram.d1f9bde9.svg" alt="instagram social">
            </div>
        </a>
        <a referrerpolicy="no-referrer" target="_blank" href="https://www.linkedin.com/in/sairamengg-civil">
            <div class="footer_social_icon"><img src="assets/images/LinkedIn.89a24238.svg" alt="linkedin social">
            </div>
        </a>
    </div>
</div>